@*@model IEnumerable<projectAdministration.Web.Models.PeopleDTO>*@
@model projectAdministration.Web.Models.PeopleDTO
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
           </div>
        </section>
}
<h2>Users</h2>
@*@foreach(var item in Model)
{
    *@<div>
        <h4>Name:@Model.Name</h4>
        <h4>LastName:@Model.LastName</h4> 
        <h5>email: @Model.Email</h5>
        <hr />  
    </div>
    
@*}*@
